{{> header}}
{{> messages}}
<div class="container fluid my-4" style="width: 70%;">
  <h1 class="text-center text-info">Create a new record</h1>
  {{> messages}}
  <form class="form-create mx-auto mt-5" action="/records" method="POST" style="width: 80%;">
    {{> recordForms}}
  </form>
</div>