<div class="container m-5">
  <div class="row">
    <div class="col-12 col-md-5">
      <img src="https://1.bp.blogspot.com/-A7-vqS6N7UE/U1T3wJHuVbI/AAAAAAAAfWY/iMVPwcUxZTw/s400/figure_ta-da.png" alt="">
    </div>
    <div class="col-12 col-md-7">
      <h1>Create your account</h1>
      <h5 class="mt-3 mb-4 fst-italic">Have an account？ <a href="/signin" style="text-decoration: none;">Log in now！</a></h5>
      <form class="form-signup" action="/signup" method="POST" style="width: 60%;">
        <div class="form-row mb-3">
          <label class="form-label" for="name"><i class="fa-solid fa-user me-2"></i></label>
          <input type="text" id="name" name="name" class="form-control" placeholder="Name" required autofocus>
        </div>
        <div class="form-row mb-3">
          <label class="form-label" for="email"><i class="fa-solid fa-envelope me-2"></i></label>
          <input type="text" id="email" name="email" class="form-control" placeholder="Email" required>
        </div>
        <div class="form-row mb-3">
          <label class="form-label" for="password"><i class="fa-solid fa-lock me-2"></i></label>
          <input type="password" id="password" name="password" class="form-control" placeholder="Password" required>
        </div>
        <div class="form-row mb-3">
          <label class="form-label" for="passwordCheck"><i class="fa-solid fa-lock me-2"></i></label>
          <input type="password" id="passwordCheck" name="passwordCheck" class="form-control" placeholder="Password Confirm"
            required>
        </div>
        <button class="btn btn-primary btn-block" type="submit">Submit</button>
      </form>
    </div>
  </div>
</div>